.container-category{
    display: flex;
    justify-content: center;
}

.cards-devpessoal{
    display: flex;
}

.cards-classicgeek{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background-color: black;
}


.card-devpessoal{
    width: 350px;
    height: 400px;      
    background-color: gray;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
}


.card-classic, .card-geek{
    width: 350px;
    height: 200px;
    background-color: gray;
    border-radius: 8px;
    padding: 20px;
    margin: 10px auto;
}