/* Importando a fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Importando a fonte Inter */
@import url("https://fonts.googleapis.com/css?family=inter:100,200,300,400,500,600,700,800,900&display=swap");

/* Estilos para o container de destaques */
.destaques-container { 
    overflow: hidden;
    margin: auto;
    max-width: 100%;
    height: 49vw;

    display: flex;
    justify-content: center;
}

/* Estilos para o título dos destaques */
.titulo-container-destaques {
    
    width: 100%;
    padding: 10px;
    font-family: 'Inter', arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

.abas{
    width: 100%;
}


@media only screen and (max-width: 767px) {
    .titulo-container-destaques {
        max-width: 100vw;
        padding-top: 5.6vw;
        font-size: 7.2vw;
        line-height: 1.33;
    }
}

/* Estilos para as abas */
.abas {
    text-align: center;
    white-space: nowrap;
    height: 64px;
}

/* Estilos para os itens das abas */
.aba-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 3.33333333vw;
}

/* Estilos para o botão das abas */
.aba-item button {
    background-color: transparent;
}

/* Estilos para o título da aba */
.aba-titulo {
    font-family: 'Inter', arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    line-height: 24px;
    padding-top: 1.4vw;
    padding-bottom: 2px;
}
.produtos-destaques {
    max-width: 98.33333333vw;
    height: 49.16666667vw;
}