.fullscreen-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adicione um fundo semi-transparente */
    display: none; /* Por padrão, o menu não está visível */
    z-index: 999; /* Garanta que o menu esteja na frente de outros elementos */
}

.fullscreen-container.open {
    display: block; /* Exiba o menu quando estiver aberto */
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.menu-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; /* Altere a cor de fundo conforme necessário */
    padding: 20px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}
